<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KeX_C_Aq_MacroAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ListBoxTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <KeX_C_Aq_MacroAdmin.Properties.Settings>
            <setting name="DBUser" serializeAs="String">
                <value>kex_frontend</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>kex_frontend</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value>KeX-KP10-TS</value>
            </setting>
            <setting name="DBShema" serializeAs="String">
                <value>kex</value>
            </setting>
        </KeX_C_Aq_MacroAdmin.Properties.Settings>
        <ListBoxTest.Properties.Settings>
            <setting name="DBUser" serializeAs="String">
                <value>kex_frontend</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>kex_frontend</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value>Kex-KP10-TS</value>
            </setting>
            <setting name="DBShema" serializeAs="String">
                <value>kex</value>
            </setting>
        </ListBoxTest.Properties.Settings>
    </userSettings>
</configuration>
